In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame({'Yes':[50,21],'No':[1,2]},index=['A','B'])

In [ ]:
pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],name="Anik")

In [ ]:
reviews=pd.read_csv("D:/ML/titanic/winemag-data.csv",index_col=0)
reviews.head()

In [ ]:
reviews.columns

In [ ]:
reviews.points.describe()

In [ ]:
reviews.taster_name.describe()

In [ ]:
reviews.points.mean()

In [ ]:
reviews.taster_name.unique()

In [ ]:
reviews.taster_name.value_counts()

In [ ]:
rpmean = reviews.points.mean()
reviews.points.map(lambda p:p-rpmean)

In [ ]:
def remean_points(row):
    row.points=row.points-rpmean
    return row

reviews.apply(remean_points,axis='columns')

In [ ]:
reviews.country+"-"+reviews.region_1

In [ ]:
reviews.price.dtypes

In [ ]:
reviews.dtypes

In [ ]:
reviews.points.dtype

In [ ]:
reviews.points.astype('float64')

In [ ]:
reviews.points.dtype

In [ ]:
reviews[pd.isnull(reviews.country)]

In [ ]:
reviews.country.fillna('Unknown')

In [ ]:
reviews.taster_twitter_handle.replace("@kerinokeefe","@kerino")

In [ ]:
reviews.groupby('points').points.count()

In [ ]:
reviews.groupby('points').price.min() # to get the cheapest wine in each point value category

In [ ]:
reviews.groupby('winery').apply(lambda df:df.title.iloc[0])

In [ ]:
reviews.groupby(['country','province']).apply(lambda df:df.loc[df.points.idxmax()])

In [ ]:
reviews.groupby('country').price.agg([len,min,max])

In [ ]:
countries_reviewed=reviews.groupby('country').price.agg([len])
countries_reviewed

In [ ]:
countries_reviewed=countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len',ascending=False)

In [ ]:
countries_reviewed.sort_index()

In [ ]:
reviews.rename( columns={ 'points':'score'})

In [ ]:
reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

In [ ]:
df=pd.read_csv("D:/ML/titanic/concrete.csv")
df.head()

In [ ]:
X=df.copy()
y=X.pop('CompressiveStrength')

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
baseline=RandomForestRegressor(criterion="mae",random_state=0)
baseline_score=cross_val_score(baseline,X,y,cv=5,scoring="neg_mean_absolute_error")
baseline_score=-1*baseline_score.mean()
print(f"MAE Baseline Score: {baseline_score:.4}")

In [ ]:


X = df.copy()
y = X.pop("CompressiveStrength")

In [ ]:
# Create synthetic features
X["FCRatio"] = X["FineAggregate"] / X["CoarseAggregate"]
X["AggCmtRatio"] = (X["CoarseAggregate"] + X["FineAggregate"]) / X["Cement"]
X["WtrCmtRatio"] = X["Water"] / X["Cement"]

In [ ]:
# Train and score model on dataset with additional ratio features
model = RandomForestRegressor(criterion="mae", random_state=0)
score = cross_val_score(
    model, X, y, cv=5, scoring="neg_mean_absolute_error"
)
score = -1 * score.mean()

print(f"MAE Score with Ratio Features: {score:.4}")

In [61]:
import numpy as np
import matplotlib.pyplot as plt

In [62]:
plt.style.use("seaborn-whitegrid")

In [63]:
df=pd.read_csv("D:/ML/titanic/autos.csv")
df.head()

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450

In [65]:
X=df.copy()
y=X.pop("price")
X.dtypes

symboling              int64
make                  object
fuel_type             object
aspiration            object
num_of_doors           int64
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders       int64
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio      int64
horsepower             int64
peak_rpm               int64
city_mpg               int64
highway_mpg            int64
dtype: object

In [67]:
for colname in X.select_dtypes("object"):
    X[colname], _ =X[colname].factorize()

In [68]:
X.dtypes

symboling              int64
make                   int64
fuel_type              int64
aspiration             int64
num_of_doors           int64
body_style             int64
drive_wheels           int64
engine_location        int64
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type            int64
num_of_cylinders       int64
engine_size            int64
fuel_system            int64
bore                 float64
stroke               float64
compression_ratio      int64
horsepower             int64
peak_rpm               int64
city_mpg               int64
highway_mpg            int64
dtype: object

In [77]:
discrete_features = (X.dtypes=="int64")

In [78]:
discrete_features

symboling             True
make                  True
fuel_type             True
aspiration            True
num_of_doors          True
body_style            True
drive_wheels          True
engine_location       True
wheel_base           False
length               False
width                False
height               False
curb_weight           True
engine_type           True
num_of_cylinders      True
engine_size           True
fuel_system           True
bore                 False
stroke               False
compression_ratio     True
horsepower            True
peak_rpm              True
city_mpg              True
highway_mpg           True
dtype: bool

In [80]:
from sklearn.feature_selection import mutual_info_regression

def make_mi_scores(X,y,discrete_features):
    mi_scores=mutual_info_regression(X,y,discrete_features=discrete_features)
    mi_scores=pd.Series(mi_scores,name="MI scores",index=X.columns)
    mi_scores=mi_scores.sort_values(ascending=False)
    return mi_scores

mi_scores=make_mi_scores(X,y,discrete_features)
mi_scores

curb_weight          1.535056
horsepower           1.246655
engine_size          0.994702
highway_mpg          0.949353
city_mpg             0.859069
width                0.689617
length               0.616413
wheel_base           0.589243
make                 0.545004
bore                 0.493288
fuel_system          0.480918
peak_rpm             0.447046
stroke               0.389102
height               0.368787
drive_wheels         0.332695
num_of_cylinders     0.329184
symboling            0.227229
engine_type          0.151769
compression_ratio    0.133061
aspiration           0.087994
body_style           0.080087
fuel_type            0.048120
engine_location      0.036336
num_of_doors         0.011409
Name: MI scores, dtype: float64